<section>
    <nav>
        <div>
            <!-- Platz für Logo/Link zur Startseite -->
            <a routerLink="/">Home</a>
        </div>
        <div>
            @if (authService.currentUserSig() == null) {
                <div class="auth-links">
                    <a routerLink="/login" class="login-link">Login</a>
                    <a routerLink="/register" class="register-link">Register</a>
                </div>
            }

            @if (authService.currentUserSig(); as user) {
                <div class="user-info">
                    @if (user) {
                        <img [src]="user" alt="User photo" class="user-avatar">
                    }
                    <span class="username">{{ user.username }}</span>
                    <button class="logout-button">Logout</button>
                </div>
            }
        </div>
    </nav>
</section>