<section>
    <nav>
        <div>
            <a routerLink="/">Startseite</a>
        </div>
        <div>
            <!-- Shows options for non-logged-in users -->
            @if (authService.currentUserSig() == null) {
                <div>
                    <a routerLink="/login">Login</a>
                </div>
            }

            <!-- Shows logout options for logged in users -->
             @if (authService.currentUserSig()) {
                <div class="user-info">
                    {{authService.currentUserSig()?.username}}
                </div>
             }
        </div>
    </nav>
</section>
