section {
    padding: 42px;
    max-width: 1980px;
    height: calc(100vh - 84px);
}

h1 {
    color: rgba(225, 85, 68, 1);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 700;
    font-size: 5rem;
    margin: 24px 0 24px 0;
}

h2 {
    color: rgba(225, 85, 68, 1);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    margin: 18px 0 18px 0;
}

h3 {
    color: rgba(225, 85, 68, 1);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin: 12px 0 12px 0;
}

p {
    color: #02F4BF;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

ul {
    color: #02F4BF;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 12px 0 12px 0;
}

a {
    color: rgb(177, 175, 175);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 250px;
}

a:hover {
    color: rgba(225, 85, 68, 1);
    transition-duration: 0.2s;
}

.main-Content {
    color: rgba(225, 85, 68, 1);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

@media (max-width: 1150px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }
}

@media (max-width: 850px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.15rem;
    }

    a {
        width: 200px;
    }
}